services:
  mysql:
    image: mariadb:10.3
    container_name: mysql-${PROJECT_NAME}-dev
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - db_data:/var/lib/mysql

  wordpress:
    depends_on:
      - mysql
    image: wordpress:latest
    container_name: wordpress-${PROJECT_NAME}-dev
    restart: unless-stopped
    ports:
      - "${WORDPRESS_PORT}:80"
    environment:
      WORDPRESS_DB_HOST: mysql:3306
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
      WORDPRESS_DEBUG: ${WORDPRESS_DEBUG}
      WP_ENVIRONMENT_TYPE: ${WP_ENVIRONMENT_TYPE}
    volumes:
      - wordpress_data:/var/www/html
      - ./wp-content/plugins/elementor-power-tools:/var/www/html/wp-content/plugins/elementor-power-tools
      - ./uploads.ini:/usr/local/etc/php/conf.d/uploads.ini

volumes:
  db_data:
  wordpress_data:
